In [84]:
import wfdb
import numpy as np
import pandas as pd

In [85]:
df= pd.read_csv('./DATA/pain_dataset_all_subjects.csv')

In [86]:
df.head()

,SpO2,HR,AccX,AccY,AccZ,Temp,EDA,Subject,Age,Gender,Height_cm,Weight_kg
0,96.999969,89.000763,0.760015,-0.869990,-0.100004,30.100043,0.083039,Subject1,30,M,177,94
1,96.999969,88.000137,0.750005,-0.869990,-0.110031,30.100043,0.081028,Subject1,30,M,177,94
2,96.999969,87.000443,0.750005,-0.869990,-0.110031,30.100043,0.083039,Subject1,30,M,177,94
3,96.999969,87.000443,0.750005,-0.879993,-0.100004,30.100043,0.083039,Subject1,30,M,177,94
4,96.999969,87.000443,0.760015,-0.859987,-0.100004,30.100043,0.081028,Subject1,30,M,177,94

In [87]:
from ydata_profiling import ProfileReport

profile = ProfileReport(df, title="Unsupervised EDA Report", explorative=True)
profile.to_file("./EDA/ydata.html")  # or profile.to_file("eda_report.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

100%|██████████| 12/12 [00:00<00:00, 79.27it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [88]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46109 entries, 0 to 46108
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   SpO2       46109 non-null  float64
 1   HR         46109 non-null  float64
 2   AccX       46109 non-null  float64
 3   AccY       46109 non-null  float64
 4   AccZ       46109 non-null  float64
 5   Temp       46109 non-null  float64
 6   EDA        46109 non-null  float64
 7   Subject    46109 non-null  object
 8   Age        46109 non-null  int64
 9   Gender     46109 non-null  object
 10  Height_cm  46109 non-null  int64
 11  Weight_kg  46109 non-null  int64
dtypes: float64(7), int64(3), object(2)
memory usage: 4.2+ MB

In [89]:
df.isnull().sum()

SpO2         0
HR           0
AccX         0
AccY         0
AccZ         0
Temp         0
EDA          0
Subject      0
Age          0
Gender       0
Height_cm    0
Weight_kg    0
dtype: int64

In [90]:
df.shape

(46109, 12)

In [91]:
df['Gender'].unique()

array(['M', 'F'], dtype=object)

In [92]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46109 entries, 0 to 46108
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   SpO2       46109 non-null  float64
 1   HR         46109 non-null  float64
 2   AccX       46109 non-null  float64
 3   AccY       46109 non-null  float64
 4   AccZ       46109 non-null  float64
 5   Temp       46109 non-null  float64
 6   EDA        46109 non-null  float64
 7   Subject    46109 non-null  object
 8   Age        46109 non-null  int64
 9   Gender     46109 non-null  object
 10  Height_cm  46109 non-null  int64
 11  Weight_kg  46109 non-null  int64
dtypes: float64(7), int64(3), object(2)
memory usage: 4.2+ MB

In [93]:
df.head()

,SpO2,HR,AccX,AccY,AccZ,Temp,EDA,Subject,Age,Gender,Height_cm,Weight_kg
0,96.999969,89.000763,0.760015,-0.869990,-0.100004,30.100043,0.083039,Subject1,30,M,177,94
1,96.999969,88.000137,0.750005,-0.869990,-0.110031,30.100043,0.081028,Subject1,30,M,177,94
2,96.999969,87.000443,0.750005,-0.869990,-0.110031,30.100043,0.083039,Subject1,30,M,177,94
3,96.999969,87.000443,0.750005,-0.879993,-0.100004,30.100043,0.083039,Subject1,30,M,177,94
4,96.999969,87.000443,0.760015,-0.859987,-0.100004,30.100043,0.081028,Subject1,30,M,177,94

In [94]:
final_df=df.copy()

In [95]:
final_df.drop('Age',axis=1,inplace=True)

In [96]:
final_df.drop('Weight_kg',axis=1,inplace=True)

In [97]:
final_df.head()

,SpO2,HR,AccX,AccY,AccZ,Temp,EDA,Subject,Gender,Height_cm
0,96.999969,89.000763,0.760015,-0.869990,-0.100004,30.100043,0.083039,Subject1,M,177
1,96.999969,88.000137,0.750005,-0.869990,-0.110031,30.100043,0.081028,Subject1,M,177
2,96.999969,87.000443,0.750005,-0.869990,-0.110031,30.100043,0.083039,Subject1,M,177
3,96.999969,87.000443,0.750005,-0.879993,-0.100004,30.100043,0.083039,Subject1,M,177
4,96.999969,87.000443,0.760015,-0.859987,-0.100004,30.100043,0.081028,Subject1,M,177

In [98]:
final_df['Gender'] = final_df['Gender'].map({'M': 0, 'F': 1})
print(final_df['Gender'])

0        0
1        0
2        0
3        0
4        0
        ..
46104    1
46105    1
46106    1
46107    1
46108    1
Name: Gender, Length: 46109, dtype: int64

In [99]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46109 entries, 0 to 46108
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   SpO2       46109 non-null  float64
 1   HR         46109 non-null  float64
 2   AccX       46109 non-null  float64
 3   AccY       46109 non-null  float64
 4   AccZ       46109 non-null  float64
 5   Temp       46109 non-null  float64
 6   EDA        46109 non-null  float64
 7   Subject    46109 non-null  object
 8   Gender     46109 non-null  int64
 9   Height_cm  46109 non-null  int64
dtypes: float64(7), int64(2), object(1)
memory usage: 3.5+ MB

In [101]:
final_df['Subject'] = final_df['Subject'].str.extract(r'(\d+)').astype(int)

In [102]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46109 entries, 0 to 46108
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   SpO2       46109 non-null  float64
 1   HR         46109 non-null  float64
 2   AccX       46109 non-null  float64
 3   AccY       46109 non-null  float64
 4   AccZ       46109 non-null  float64
 5   Temp       46109 non-null  float64
 6   EDA        46109 non-null  float64
 7   Subject    46109 non-null  int64
 8   Gender     46109 non-null  int64
 9   Height_cm  46109 non-null  int64
dtypes: float64(7), int64(3)
memory usage: 3.5 MB

In [103]:
final_df.head()

,SpO2,HR,AccX,AccY,AccZ,Temp,EDA,Subject,Gender,Height_cm
0,96.999969,89.000763,0.760015,-0.869990,-0.100004,30.100043,0.083039,1,0,177
1,96.999969,88.000137,0.750005,-0.869990,-0.110031,30.100043,0.081028,1,0,177
2,96.999969,87.000443,0.750005,-0.869990,-0.110031,30.100043,0.083039,1,0,177
3,96.999969,87.000443,0.750005,-0.879993,-0.100004,30.100043,0.083039,1,0,177
4,96.999969,87.000443,0.760015,-0.859987,-0.100004,30.100043,0.081028,1,0,177

In [104]:
final_df.drop('Height_cm',axis=1,inplace=True)

In [105]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46109 entries, 0 to 46108
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   SpO2     46109 non-null  float64
 1   HR       46109 non-null  float64
 2   AccX     46109 non-null  float64
 3   AccY     46109 non-null  float64
 4   AccZ     46109 non-null  float64
 5   Temp     46109 non-null  float64
 6   EDA      46109 non-null  float64
 7   Subject  46109 non-null  int64
 8   Gender   46109 non-null  int64
dtypes: float64(7), int64(2)
memory usage: 3.2 MB

In [106]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
df_scaled = scaler.fit_transform(final_df[["EDA", "HR", "Temp", "SpO2", "AccX", "AccY", "AccZ"]])

In [109]:
type(df_scaled)
df_scaled = pd.DataFrame(df_scaled, columns=["EDA", "HR", "Temp", "SpO2", "AccX", "AccY", "AccZ"])

In [110]:
type(df_scaled)

pandas.core.frame.DataFrame

In [111]:
df_scaled.head()

      EDA       HR       Temp      SpO2      AccX      AccY      AccZ
0 -0.782556  0.763480 -1.133523  0.622977  0.437645 -0.644466  0.161169
1 -0.783503  0.698079 -1.133523  0.622977  0.416661 -0.644466  0.134616
2 -0.782556  0.632740 -1.133523  0.622977  0.416661 -0.644466  0.134616
3 -0.782556  0.632740 -1.133523  0.622977  0.416661 -0.680700  0.161169
4 -0.783503  0.632740 -1.133523  0.622977  0.437645 -0.608233  0.161169